<h1><%= link_to "Rotten Mangoes", movies_path %></h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= render 'search' %>
<hr>

<% @movies.each do |movie| %>
  <%= render partial:'movie', object: movie %>
<% end %>